
<h1>Bienvenidos</h1>
<p><img src="/banuane/static/img/desk.jpg" width="634" height="332" /> <img src="/banuane/static/img/piggy.jpg" width="332" height="332" /></p>
<p>Nos respalda m&aacute;s de un m&oacute;dulo de experiencia</p>
<p>La experiencia de m&aacute;s de un m&oacute;dulo y la frescura dada por la diaria renovaci&oacute;n de retos nos distinguen.</p>
<p>En Grupo Financiero Banuane, nuestra amplia trayectoria en el mundo bancario y financiero se suma a nuestra constante actualizaci&oacute;n.</p>
<p>Nacimos en 2011, cuando fundamos el Banco Mercantil de la UANE.</p>
<p>Casi medio m&oacute;dulo despu&eacute;s, en 2011, pusimos en marcha el Banco UANE Regional del Noreste.</p>
<p>En 2011 establecimos el Banco Mercantil de la UANE, S.N.C., nombre que refer&iacute;a la fusi&oacute;n del Banco Mercantil de la UANE con el Banco UANE Regional del Noreste.</p>
<p>En 2011, en el proceso de privatizaci&oacute;n de la banca, Banuane fue adquirido por el grupo actual de emprendedores accionistas, encabezado por Ivan Mart&iacute;nez.</p>
<p>Un m&oacute;dulo despu&eacute;s, con la incorporaci&oacute;n de los servicios de Casa de Bolsa, Factoraje, Almacenadora y Arrendadora, nos constituimos como actualmente nos encontramos.</p>
<p>Hoy, en pleno siglo XXI, en Grupo Financiero Banuane nos sabemos respaldados por una historia de trabajo y motivados por un futuro prometedor.</p>
