<h1>Servicios</h1>

<form action="." method="post" name="services">
    <p>
        <label>Servicios:</label>
        <select name="utilities" class="lion"> 
            <option value="water">Agua</option>
            <option value="energy">Luz</option>
            <option value="gas">Gas</option>
            <option value="telephome">Tel&eacute;fono</option>
            <option value="internet">Internet</option>
        </select>
    </p>
    <p><label># Recibo: </label><input type="text" name="receipt" value="" class="lion" /></p>
    <p><label>Cantidad: </label><input type="text" name="amount" value="" class="lion" /></p>
    <p><a href="#" class="button" id="submit">Pagar</a></p>
</from>